/* Main Colors */
* {
    --md-default-fg-color:               hsl(var(--radiant-fg-1));
	--md-default-fg-color--light:        hsl(var(--radiant-fg-2));
	--md-default-fg-color--lighter:      hsl(var(--radiant-fg-3));
	--md-default-fg-color--lightest:     hsl(var(--radiant-fg-3));
	--md-default-bg-color:               hsl(var(--radiant-bg-1a));
	--md-default-bg-color--light:        hsl(var(--radiant-bg-2a));
	--md-default-bg-color--lighter:      hsl(var(--radiant-bg-3a));
	--md-default-bg-color--lightest:     hsl(var(--radiant-bg-3a));

	--md-primary-fg-color:               hsl(var(--radiant-accent));
	--md-primary-fg-color--light:        hsl(var(--radiant-accent-light));
	--md-primary-fg-color--dark:         hsl(var(--radiant-accent-dark));

	--md-accent-fg-color:                hsl(var(--radiant-accent-hover));
	--md-accent-fg-color--transparent:   hsla(var(--radiant-accent-hover), 0.1);

	--md-typeset-color:                var(--md-default-fg-color);
	--md-typeset-a-color:              var(--md-primary-fg-color);
	--md-typeset-mark-color:           hsl(var(--radiant-accent), 0.5);
	--md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
	--md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);
	--md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
	--md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
	--md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);
	--md-typeset-table-color:          hsla(0, 0%, 0%, 0.12);

	--md-admonition-fg-color:          hsl(var(--radiant-fg-1));
	--md-admonition-bg-color:          hsl(var(--radiant-bg-2b));

	--md-footer-fg-color:              hsl(var(--radiant-fg-2));
	--md-footer-fg-color--light:       hsl(var(--radiant-fg-2));
	--md-footer-fg-color--lighter:     hsl(var(--radiant-fg-2));
	--md-footer-bg-color:              hsl(var(--radiant-bg-2a));
	--md-footer-bg-color--dark:        hsl(var(--radiant-bg-1a));

	--md-text-font: var(--radiant-font-text);
}

/* Code */
[data-md-color-scheme="radiant-light"] {
	--md-code-fg-color:                hsl(var(--radiant-fg-2));
	--md-code-bg-color:                hsl(var(--radiant-bg-2a));

	--md-code-hl-color:                hsla(var(--radiant-accent), 0.2);
	--md-code-hl-number-color:         hsl(290, 60%, 70%);
	--md-code-hl-special-color:        var(--fusiondoc-grey-7);
	--md-code-hl-function-color:       var(--fusiondoc-grey-7);
	--md-code-hl-constant-color:       var(--fusiondoc-grey-7);
	--md-code-hl-keyword-color:        hsl(40, 75%, 60%);
	--md-code-hl-string-color:         hsl(330, 80%, 70%);
	--md-code-hl-name-color:           var(--fusiondoc-grey-8);
	--md-code-hl-operator-color:       var(--fusiondoc-grey-6);
	--md-code-hl-punctuation-color:    var(--fusiondoc-grey-6);
	--md-code-hl-comment-color:        var(--fusiondoc-grey-6);
	--md-code-hl-generic-color:        var(--fusiondoc-grey-6);
	--md-code-hl-variable-color:       var(--fusiondoc-grey-6);
}

[data-md-color-scheme="radiant-dark"] {
	--md-code-fg-color:                hsl(var(--radiant-fg-1));
	--md-code-bg-color:                hsl(var(--radiant-bg-1b));

	--md-code-hl-color:                var(--fusiondoc-accent-a20);
	--md-code-hl-number-color:         hsl(290, 60%, 70%);
	--md-code-hl-special-color:        var(--fusiondoc-grey-7);
	--md-code-hl-function-color:       var(--fusiondoc-grey-7);
	--md-code-hl-constant-color:       var(--fusiondoc-grey-7);
	--md-code-hl-keyword-color:        hsl(40, 75%, 60%);
	--md-code-hl-string-color:         hsl(330, 80%, 70%);
	--md-code-hl-name-color:           var(--fusiondoc-grey-8);
	--md-code-hl-operator-color:       var(--fusiondoc-grey-6);
	--md-code-hl-punctuation-color:    var(--fusiondoc-grey-6);
	--md-code-hl-comment-color:        hsl(var(--radiant-fg-3));
	--md-code-hl-generic-color:        var(--fusiondoc-grey-6);
	--md-code-hl-variable-color:       var(--fusiondoc-grey-6);
}

h1 {
	text-transform: uppercase;
	/*font-family: var(--radiant-font-header);*/
	font-size: 5rem;
}

h1::before {
	content: "// ";
}